
* {
   margin: 0;
   padding: 0;
   font-family: "Poppins", sans-serif;
   box-sizing: border-box;
   scroll-behavior: smooth;
   scroll-padding-top: 2rem;
   list-style: none;
   text-decoration: none;
 }


body.active {
   background-color: #1e1c2a;
 
 }


body {
   background-color: #e7e6ee;
   height: 100vh;
   display: grid;
   place-items: center center;
   font-family: 'sans-serif'; 

}
.logo {
   font-size: 1.2rem;
   font-weight: 600;
   color: black;
 }
.navbar {
   display: flex;
 }
 .navbar a {
   font-size: 1rem;
   padding: 10px 20px;
   color:aqua;
   font-weight: 500;
 }
.cards {
 margin-top: 50px;
   display: grid;
 grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
 padding: 20px;
 grid-gap: 40px;

}
.card{
 background-color: #1c1b29;
 border-radius: 20px;
 box-shadow: 0 0 30px rgba(0, 0, 0, 18);
}
.container {

   position: relative;
}
img {
   width: 100%; 
   display: block;
   border-radius: 20px 20px 0 0;
}
.container:after{

   content: "";
   height: 100%;
   width: 100%;
   position: absolute;
   left: 0;
   top: 0;
   border-radius: 20px 20px 0 0;
   opacity: 0.7;
}

.details {

padding: 20px 10px;
}
.details>h3 {

   color: white;
   font-weight: 600;
   font-size: 18px;
   margin: 10px 0 15px 0;
}
.details>p {   
   color: antiquewhite;
   font-size: 15px;
   line-height: 30px;
   font-weight: 400;  
}
.navbar {
   position: fixed;
   background-color: rgb(226, 222, 217);
   width: 100%;
   top: 0;
   right: 0;
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 18px 100px;
   box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1);
 }
 header {
   position: fixed;
   width: 100%;
   top: 0;
   right: 0;
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: space-between;
  
   padding: 18px 100px;
   box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1);
 }